<div class="menu" ng-class="{active:ctrl.mode == ctrl.modes.screen}">
    <button class="menu-button" ng-click="ctrl.showMenu()" ng-class="{active: ctrl.mode == ctrl.modes.button}"><i class="fas fa-bars"></i></button>
    <div class="menu-screen" ng-class="{active:ctrl.mode == ctrl.modes.screen}">
        <div class="menu-holder">
            <h2 class="menu-title">Bulls And Cows</h2>
            <a ng-click="ctrl.model.showRules = true" class="rules-link" ng-show="!ctrl.model.showRules">Rules</a>
            <p ng-click="ctrl.model.showRules = false" class="rules" ng-show="ctrl.model.showRules">
                Bulls and Cows is an old code-breaking mind or paper and pencil game for two or more players, predating the commercially marketed board game Mastermind.
                One player thinks of a number, while the other player tries to guess it.
                The number to be guessed must be a 4 digit number, using only digits from 1 - 9, each digit atmost once. e.g. 1234 is valid, 0123 is not valid, 9877 is not valid, 9876 is valid.
                For every guess that the player makes, he gets 2 values - the number of bulls and the number of cows. 1 bull means the guess contains and the target number have 1 digit in common,
                and in the correct position. 1 cow means the guess and the target have 1 digit in common, but not in correct position. e.g. Let the target be 1234.
                Guessing 4321 will give 0 bulls and 4 cows. 3241 will give 1 bull and 3 cows. 4 bulls means you have won the game!
            </p>
            <button class="close-menu" ng-click="ctrl.closeMenu()"><i class="fas fa-times"></i></button>
            <div class="menu-row">
                <label>Room:</label>
                <input type="text" class="edit-room" ng-model="ctrl.model.room">
                <div class="actions"></div>
            </div>
            <div class="menu-row">
                <label>Name:</label>
                <input type="text" class="edit-name" ng-model="ctrl.model.name">
            </div>
            <div class="menu-row">
                <label>Difficulty:</label>
                <input class="edit-difficulty" ng-model="ctrl.model.difficulty" type="number" min="2" max="8">
                <div class="actions"></div>
            </div>
            <div class="menu-row">
                <button class="reset-game" ng-click="ctrl.resetGame()">Reset Game</button>
            </div>
        </div>
    </div>
</div>